.red{
    color: red;
}
img {
    width: 15%;
    border-radius: 50%;
    height: auto;
    
}
body{
	margin: 0px;
	background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img:hover{
    box-shadow:2px 2px 10px 10px #1a0d00;
    -webkit-box-shadow:2px 2px 10px 10x #1a0d00;
    -moz-box-shadow:2px 2px 10px 10px #1a0d00;
}
.graph{
	width: 70%;
	margin-left: 10%;
	padding-top: 15%;
}

.header{
	height: 100vh;
	
}
.quote-box{

	padding: 1%;
	padding-top: 15vh;
	padding-bottom: 10vh;
}

.top{
	position: absolute;
	width: 98%;
	background-color: #383838;
	font-size: 5vh;
	padding: 1%;
	color: white;
}

.quote{
	margin-top: 10%;
	font-size: 5vh;
	margin-right: 10%;
	margin-left: 10%;
	padding: 2vh;
	background-color: #36B7F7;
	opacity: 0.8;
	border-radius: 15%;
}

.main{
	height: 100vh;
}

.info{
	padding-top: 20vh;
	height: 100vh;
	background-color: #0BB4F3;
	opacity: 0.9;
	font-family: Arial, Helvetica, sans-serif;
}